{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
  <header class="header">
        <div class="content_main">

            {% if request.user.is_authenticated %}
                <div class="user">
                    <img src="">
                    <a href="">{{ request.user }}</a>
                    <a href="{% url 'logout' %}">Выход</a>
                </div>
            {% else %}
                <div class="user non-reg">
                    <a href="{% url 'login' %}">Войти</a>
                    <a href="{% url 'register' %}">Регистрация</a>
                </div>
            {% endif %}
        </div>
    {% block header %}
    {% endblock %}
  </header>

    <hr>

  <content class="content">
    {% block content %}
    {% endblock %}
  </content>

    <hr>

  <footer class="footer">
    <h1 class="non-commercial">Сайт создан не для коммерческого использования</h1>
    {% block footer %}
    {% endblock %}
  </footer>
</body>
</html>