{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
  <header class="header">
        <div class="content_main">
            <div class="search">
                <a href="{% url 'home' %}" class="home_link">Главная</a>
                <form method="get" class="search-form">
                    <input type="text" class="search-input" placeholder="Поиск....">
                    <button type="submit" class="submit-button">Найти</button>
                </form>
            </div>
            <div class="user">
                {% if request.user.is_authenticated %}
                    <div class="login-user">
                        <img src="{{ profile.avatar.root }}" class="users-links-img">
                        <a href="{% url 'profile' user=request.user %}" class="users-links">{{ request.user }}</a>
                        <a href="{% url 'logout' %}" class="users-links">Выйти</a>
                    </div>
                {% else %}
                    <div class="non-reg">
                        <a href="{% url 'login' %}" class="users-links">Войти</a>
                        <a href="{% url 'register' %}" class="users-links">Регистрация</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% block header %}
    {% endblock %}
  </header>

    <hr>

  <content class="content">
    {% block content %}
    {% endblock %}
  </content>

    <hr>

  <footer class="footer">
    <h1 class="non-commercial">Сайт создан не для коммерческого использования</h1>
    {% block footer %}
    {% endblock %}
  </footer>
</body>
</html>